.wrapper {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
}

.operator-button {
  background-color: #ef5777;
}
.operator-button:hover {
  background-color: #f53b57;
}

.equal{
  background-color: #ffdd59;
}

.equal:hover {
  background-color: #ffd32a;
}

.clear {
  background-color: #00d8d6;
}

.clear:hover {
  background-color: #0fbcf9;
}

.grid {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

