.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
}
.screen-static {
    background-color: #6c5ce7;
    justify-content:center;
    color: white;
  }
  .screen-nonstatic {
    background-color: #b2bec3;
    justify-content: flex-end;
    color: white;

  }